$header-background-color: #222;

.Testing {
  text-align: center;
}

.Testing-logo {
  animation: Testing-logo-spin infinite 20s linear;
  height: 80px;
}

.Testing-header {
  background-color: $header-background-color;
  height: 150px;
  padding: 20px;
  color: white;
}

.Testing-intro {
  font-size: large;
}

@keyframes Testing-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
